.cartItems {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .cart-item img {
    width: 100px;
    height: auto;
    border-radius: 8px;
  }
  
  .item-info {
    display: flex;
    flex-direction: column;
  }
  
  .cart-item button {
    padding: 5px 10px;
    background-color: #c184ab;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .cart-item button:hover {
    background-color: #a36290;
  }
  
  .cart-total {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  